@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

/* A .square has small text in a square-sized div */
.square {
  /* This is in the .flex-column layout */
  width: 10vw;
  display: block;
  padding: 4px;
  border: 1px solid black;
  /* darker shadow around each letter to help with readability */
  margin: 2px;
}

.square.problem:hover {
  border: 3px solid black;
  margin: 0px;
  cursor: pointer;
}

.problem {
  color: white;
  font-size: 16px;
}

.category {
  /* darker shadow around each letter to help with readability */
  font-size: 18px;
  font-variant: small-caps;
  font-weight: bold;
  height: 2.5em;
  text-align: center;
  color: #E6194B;
}

.solutions {
  background-color: #4CAF50; /* Circle color */
  color: white;   /* Text color */
}

.prerequisites {
  background-color: #fffb00; /* Circle color */
  color: black;   /* Text color */
}

button.unselect-x {
  font-size: 133%;
}

.solutions, .prerequisites {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;    /* Diameter of the circle */
  height: 1em;   /* Diameter of the circle */
  border-radius: 50%;  /* Creates the circular shape */
  font-size: smaller; /* Adjusts the size of the number */
  text-align: center;
  line-height: 1em; /* Aligns text vertically */
  border: 2px solid black;
  font-weight: bold;
  padding: 2px;
}

.solutions:hover, .prerequisites:hover {
  opacity: 0.8;
  border-color: white;
}

.screen-overlay {
  height: 100vh;
  width: 100vw;
  background-color: #0008;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  padding-top: 5vh;
  overflow: auto;
}

/*
A modal looks like this:

<div class="modal"><div><span class="back-button">←</span><h1>Enormous reliance on tutors, but good tutors (or even qualified tutors) can be tough to come by</h1></div><p class="optional-text">If enough people don't pass the course with high marks in previous years, and/or there aren't enough postgraduates, then the tutor pool will be small and likely insufficient.</p><div>If this problem cannot be solved without solving another problem first, <button>click here</button> to add a prerequisite.</div></div>

The classes to support this follow:
*/

.modal {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
  max-height: 85vh;
  border-radius: 15px;
}

.search-bar {
  margin-top: 1em;
  margin-bottom: 1em;
}


.solution-list, .prereq-list {
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
  max-height: 500px;
  overflow: scroll;
  /* scrollbar position should be on outside, not inside */
  scrollbar-width: thin;
  scrollbar-color: #0003 #0000;
}

.solution, .prereq {
  display: flex; /* Enables flexbox layout */
  align-items: flex-start; /* Aligns items to the top */
  margin-bottom: 10px; /* Adds space between list items */
}

input[type="checkbox"] {
  margin-top: 3px; /* Small top margin for alignment */
  margin-right: 10px; /* Adds space between the checkbox and the label */
}

.solution-text, prereq-text {
  flex-grow: 1; /* Allows the text to take up the available space */
}

.solution .icon-button:last-child {
  margin-left: auto;
}


.solution-list div.optional-text {
  font-size: 75%;
}

.modal h1 {
  font-size: 1.5em;
  margin: 0;
}

.modal h2 {
  font-size: 1.2em;
}

.icon-button {
  margin-right: 2px;
  padding: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-size: 100%;
}

.invisible {
  visibility: hidden;
}

.large {
  font-size: 150%;
}

.icon-button.small {
  font-size: 60%;
  padding: 0;
}

.icon-button.small:hover {
  background-color: transparent;
  color: red;
}

.icon-button:hover {
  background-color: #0003;
  /* do a transition over 0.2s */
  transition: background-color 0.4s;
}

/* .modal ol.solution-list button {
  margin-right: 2px;
  padding: 0;
  font-size: 60%;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 1.5ex;
} */

.modal ol.solution-list {
  overflow: scroll;
}

input[type="text"] {
  width: 100%;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 4em;
  font-family: inherit;
}

.modal ol.solution-list li {
  margin-bottom: 0.5em;
  display: flex;
}

.modal ol.solution-list button:hover {
  color: red;
}

.modal ol .solution-text {
  margin-left: 0.75ex;
  flex-grow: 1;
}

.modal .optional-text {
  font-size: 95%;
  font-style: italic;;
}

.modal .modal-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px
}

.modal .modal-header .back-button {
  font-size: 1.5em;
  color: #2e19e6;
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .modal-header .back-button:hover {
  background-color: #0003;
  /* do a transition over 0.2s */
  transition: background-color 0.4s;
}

.no-solutions {
  /* a text-shadow that makes the red stand out against any background */
  text-shadow: 1px 1px 2px black;
}

.metrics {
/* flexbox container holding the .solutions, and beginning on the right */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  margin-top: 3px;
  /* background-color: rgba(0, 0, 0, 0.05); */
}

/* A flexbox layout that one can embed many .squares in, so that they are laid out from top to bottom */
.flex-updown {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 6px;
  align-content: flex-start;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.05); */
}

/* A flexbox layout that lays flex-columns out from left to right, 130px is the size of each column, and with gaps between the colums */
.flex-rightleft {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
  align-content: flex-start;
  /* background-color: rgba(0, 0, 0, 0.05); */
}