@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

/* A .square has small text in a square-sized div */
.square {
  /* This is in the .flex-column layout */
  width: 10vw;
  display: block;
  padding: 4px;
  border: 1px solid black;
  /* darker shadow around each letter to help with readability */
  margin: 2px;
}

.square.problem:hover {
  border: 3px solid black;
  margin: 0px;
  cursor: pointer;
}

.problem {
  color: white;
  font-size: 16px;
}

.category {
  /* darker shadow around each letter to help with readability */
  font-size: 18px;
  font-variant: small-caps;
  font-weight: bold;
  height: 2.5em;
  text-align: center;
  color: #E6194B;
}

.solutions {
  background-color: #4CAF50; /* Circle color */
  color: white;   /* Text color */
}

.prerequisites {
  background-color: #fffb00; /* Circle color */
  color: black;   /* Text color */
}

.solutions, .prerequisites {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;    /* Diameter of the circle */
  height: 1em;   /* Diameter of the circle */
  border-radius: 50%;  /* Creates the circular shape */
  font-size: smaller; /* Adjusts the size of the number */
  text-align: center;
  line-height: 1em; /* Aligns text vertically */
  border: 2px solid black;
  font-weight: bold;
  padding: 2px;
}

.solutions:hover, .prerequisites:hover {
  opacity: 0.8;
  border-color: white;
}

.no-solutions {
  /* a text-shadow that makes the red stand out against any background */
  text-shadow: 1px 1px 2px black;
}

.metrics {
/* flexbox container holding the .solutions, and beginning on the right */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  margin-top: 3px;
  /* background-color: rgba(0, 0, 0, 0.05); */
}

/* A flexbox layout that one can embed many .squares in, so that they are laid out from top to bottom */
.flex-updown {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 6px;
  align-content: flex-start;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.05); */
}

/* A flexbox layout that lays flex-columns out from left to right, 130px is the size of each column, and with gaps between the colums */
.flex-rightleft {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
  align-content: flex-start;
  /* background-color: rgba(0, 0, 0, 0.05); */
}